.primary-button {
  color: var(--dark-primary-color);
  background-color: var(--secondary-color);
  border-radius: 15px;
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.primary-button:active {
  background-color: #e3bf00;
}

.primary-button:hover {
  color: white;
  background-color: #f4cf14ba;
}