.form p {
  color: white;
  font-size: 1.3rem;
}

.form p a{
  text-decoration: none;
}

.form p a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form p a:visited{
  color: white;
}